[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-security = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
bcrypt = "*"
wtforms = {extras = ["email"], version = "*"}
pandas = "*"
mysql-connector-python = "*"
isort = {extras = ["pipfile_deprecated_finder"], version = "*"}
flask-pagedown = "*"
markdown = "*"
bleach = "*"
python-slugify = "*"
flask-restx = ">=0.5.1"
flask-jwt-extended = "*"
flask = "==2.1.2"
werkzeug = "==2.1.2"

[dev-packages]

[requires]
python_version = "3.10"
