{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block title %} Register {% endblock %}

{% block body %}
{% include "security/_messages.html" %}

<h1 class="text-md-center">{{ _('Register') }}</h1>
<form action="{{ url_for_security('register') }}" method="POST" name="register_user_form" role="form">
    {{ register_user_form.hidden_tag() }}
    <div class="container col-lg-6">
        <div class="col">
            <div class="form-group">
                {{ render_field_with_errors(register_user_form.name,class="form-control",placeholder="Enter your name") }}
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                {{ render_field_with_errors(register_user_form.username,class="form-control",placeholder="Enter your username") }}
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                {{ render_field_with_errors(register_user_form.email,class="form-control",placeholder="Enter your email") }}
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                {{ render_field_with_errors(register_user_form.password,class="form-control",placeholder="Enter password") }}
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                {% if register_user_form.password_confirm %}
                {{ render_field_with_errors(register_user_form.password_confirm,class="form-control",placeholder="Retype password") }}
                {% endif %}
            </div>
        </div>
        <div class="row row-space">

            <div class="col">
                <div class="form-group">
                    {{ render_field(register_user_form.submit,class="btn btn-primary") }}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <a href="{{url_for_security('login')}}" class="btn btn-link">
                        <span class="text-primary">Go to Login</span> <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</form>

{% endblock %}