{% extends "base.html" %}

{%block title %} Post {% endblock %}

<body>

    {% block content %}

    <!-- Page Header-->
    <header class="masthead" style="background-image: url('static/assets/img/post-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="post-heading">
                    <h1>{{ post.heading }}</h1>
                    <h2 class="subheading">{{ post.subHeading}}</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">Start Bootstrap</a>
                        on August 24, 2021
                    </span>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {{ post.body }}
                </div>
            </div>
        </div>
    </article>



    <!-- Reply -->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center mb-4">
            <h3 class="">Comments &mdash; <span>{{comments|length}}</span></h3>
        </div>
    </div>
    {% for comment in comments %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center mb-4">

            <!-- Divider-->
            <hr class="my-4" />
            <div class="row">
                <div class="col px-4">
                    {{ comment.comment }}
                </div>
                <div class="col">
                    <i class="fa-solid fa-calendar"></i> {{comment.dateCreated|datetime_format}} &nbsp;
                    <br />
                    <i class="fa-solid fa-user"></i> {{comment.users.username}}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


    {% if current_user.active %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">

            <!-- Divider-->
            <hr class="my-4" />
            <form method="POST" role="form" action="">
                {{form.csrf_token}}
                <div class="form-group mb-4">
                    {{ form.comment(class="form-control", placeholder="Leave a comment here")}}
                </div>
                <div class="mb-4">
                    <button type="submit" class="btn btn-primary">
                        Post Comment
                    </button> &nbsp;
                </div>
            </form>
        </div>
    </div>
    {% endif %}


    {% endblock %}

</body>