{% extends "base.html" %}

{%block title %} Post {% endblock %}

<body>

    {% block content %}

    <!-- Page Header-->
    <header class="masthead" style="background-image: url('static/assets/img/post-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>{{ post.heading }}</h1>
                        <h2 class="subheading">{{ post.subHeading}}</h2>
                        <span class="meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on August 24, 2021
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {{ post.body }}
                </div>
            </div>
        </div>
    </article>



    <!-- Reply -->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Divider-->
                <hr class="my-4" />
                <h3 class="">Replies &mdash; <span>5</span></h3>
                <div class="row">
                    <div class="col px-4">
                        This is a reply
                    </div>

                    <div class="col">
                        <i class="fa-solid fa-calendar"></i> 27 Mar,2022 &nbsp;
                        <br />
                        <i class="fa-solid fa-user"></i> amanve
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Divider-->
                <hr class="my-4" />
                <form action="" method="POST" role="form" id="theForm">

                    <div class="form-floating mb-4">
                        <textarea class="form-control" placeholder="Leave a comment here"
                            style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Comments</label>
                    </div>
                    <div class="mb-4">
                        <button type="submit" class="btn btn-primary">
                            Post Comment
                        </button> &nbsp;
                    </div>
                </form>
            </div>
        </div>
    </div>



    {% endblock %}

</body>